@import '/mixins/mixins'
@import '/mixins/sprite'

/*Переменные настройки*/
headerHeight = auto
footerHeight = 80px
placeholderColor = #000
containerWidth = 1170px


*
  box-sizing border-box
  inline-box-align align-content

/*Стилизация placeholder*/
input
  placeholder(#ffffff)

/*сброс стилей для списков*/
.unstyled
  margin 0
  padding 0
  list-style none

/*Скрытие текста*/
.g-hide-text
  text-hide()

/*иконки*/
.g-icon
  display block
  background url("../img/bg/sprite.png") no-repeat


/*Футер к низу страницы*/
.with-bg
  background url("../img/bg/main-bg2.jpg") repeat-x
  background-size cover
  background-attachment fixed
.b-html
.b-body
  height 100%
.wrapper
  height auto !important
  height 100%
  min-height: 100%
  margin 40px auto - footerHeight
  padding:20px

#wrapper
  max-width 1400px
.footer-push
  height footerHeight
.footer
  height footerHeight


/*иконки iconmoon*/

@font-face
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?91oczr');
	src:url('../fonts/icomoon.eot?#iefix91oczr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?91oczr') format('woff'),
		url('../fonts/icomoon.ttf?91oczr') format('truetype'),
		url('../fonts/icomoon.svg?91oczr#icomoon') format('svg');
	font-weight: normal
	font-style: normal


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-city:before {
	content: "\e600";
}

.icon-life1:before {
	content: "\e601";
}

.icon-mts:before {
	content: "\e602";
  color: #ef4135;
}

.icon-vel .path1:before {
	content: "\e603";
	color: rgb(255, 246, 53);
}
.icon-vel .path2:before {
	content: "\e604";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-vel .path3:before {
	content: "\e605";
	margin-left: -1em;
	color: rgb(242, 221, 0);
}

.no-padding
  padding 0!important
.wrap
  padding 0 20px
  margin 0 0 20px 0
.wrap--padleft
  padding-left 20px
.wrap--padright
  padding-right  20px

.django-ckeditor-widget
  width 100%!important

