{% extends 'myauth/service_edit.html' %}
{% load sitetree %}

{% block custom_field %}
    <div class="panel panel-smart">
        <h4>Специализация на марках</h4>

        <div class="service-form__wrap">{{ form.specialization_work }}</div>
    </div>
    <div class="panel panel-smart">
        <h4>Ремонтные работы</h4>

        <div class="service-form__wrap">{{ form.repair_work }}</div>
    </div>
    <div class="panel panel-smart">
        <h4>Диагностика</h4>

        <div class="service-form__wrap">{{ form.diag_work }}</div>
    </div>
    <div class="panel panel-smart">
        <h4>Обслуживание</h4>

        <div class="service-form__wrap">{{ form.serv_work }}</div>
    </div>
    <div class="panel panel-smart">
        <h4>Дополнительные работы</h4>

        <div class="service-form__wrap">
            {{ form.add_work }}
        </div>
    </div>
    <div class="panel panel-smart">
        <h4>Дополнительные услуги</h4>

        <div class="service-form__wrap">
            {{ form.add_services }}
        </div>

    </div>
    <div class="panel panel-smart">
        <h4>Дополнительные услуги</h4>
        <ul class="list-unstyled service__list">
            <li class="service__list-item">
                <span class="service__param-name">Понедельник:</span> {{ form.teaser }}
            </li>
            <li class="service__list-item">

                <span class="service__param-name">Вторник:</span> {{ form.full_desc }}
            </li>
        </ul>


    </div>
{% endblock %}