{% extends 'layout.html' %}
{% load i18n %}
{% load sitetree %}

{% block meta %}
        <meta name="description" content="{% sitetree_page_description from 'main' %}">
    {% endblock %}

    {% block title %}
        <title>{% sitetree_page_title from "main" %}</title>
    {% endblock %}
{% block page %}
    <div id="main-container">
        <!-- Breadcrumb Starts -->
        {% block breadcrumbs %}
            {% sitetree_breadcrumbs from "main" %}
        {% endblock %}
        <!-- Breadcrumb Ends -->
        <!-- Main Heading Starts -->
        <h2 class="main-heading text-center">
            Войдите или зарегистрируйтесь
        </h2>
        <!-- Main Heading Ends -->
        <!-- Login Form Section Starts -->
        <section class="login-area">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Login Panel Starts -->
                    <div class="panel panel-smart">
                        <div class="panel-heading">
                            <h3 class="panel-title">Авторизация</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                {% if mess %}
                                    {{ mess }}
                                {% else %}
                                    Войдите под свои аккаунтом
                                {% endif %}
                            </p>
                            <!-- Login Form Starts -->
                            <form class="form-inline" method="post" action="." role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="id_username">Имя пользователя:</label>
                                   {{ login_form.username }}
                                    <span>{{ login_form.username.errors| safe }}</span>
                                </div>
                                <div class="form-group">
                                     <label class="sr-only" for="id_password">Пароль:</label>
                                     {{ login_form.password }}
                                    <span>{{ login_form.username.errors| safe }}</span>
                                </div>


                                <input type="submit" value="{% trans 'Log in' %}" class="btn btn-danger"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </form>

                            <!-- Login Form Ends -->
                        </div>
                    </div>
                    <!-- Login Panel Ends -->
                </div>
                <div class="col-sm-6">
                    <!-- Account Panel Starts -->
                    <div class="panel panel-smart">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Создать нового пользователя
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Регистрация на сайте позволяет вам оставлять комментарии и отзывы, а также дает возможность ввести свой личный блог
                            </p>
                            <a href="/auth/registration" class="btn btn-danger">
                                Зарегистрироватся
                            </a>
                        </div>
                    </div>
                    <!-- Account Panel Ends -->

                </div>
            </div>
        </section>
        <!-- Login Form Section Ends -->
    </div>


{% endblock %}