{% extends 'layout.html' %}
{% load staticfiles %}

{% block body %}
    <body style="padding: 0" ng-app="ymapsApp">
    <div ng-controller="loginCtrl">

        <!-- Login Form Section Starts -->
        <section class="row">
            <div class="col-sm-4 col-sm-offset-4">
                 <!-- Login Panel Starts -->
                    <div id="login-form" class="panel-smart">
                        <div class="panel-heading">
                            <h3 class="panel-title">{$result.mess$}</h3>
                        </div>
                        <div class="wform">
                            <!-- Login Form Starts -->
                            <form ng-submit="loginSubmit(wform)" ng-init="initForm('/auth/login/','{{ prev_path }}')" method="post" autocomplete="off" class="wform__form"
                                  role="form" name="wform" novalidate>
                                {% csrf_token %}
                                <div class="wform__group">
                                    <label for="userUsername" class="col-sm-12 wform__label">Имя пользователя:</label>

                                    <div class="col-sm-12">
                                        <input type="text" class="wform__control" name="username" ng-model="user.username"
                                               required/>
                                        <span class="text-danger">{$ result.usernameErr $}</span>

                                        <div ng-show="wform.$submitted">
                                            <span class="text-danger" ng-show="wform.username.$error.required">Заполните 'Имя пользователя'</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wform__group">
                                    <label class="wform__label col-sm-12" for="id_password">Пароль:</label>

                                    <div class="col-sm-12">
                                        <input id="id_password" type="password" class="wform__control" name="password"
                                               ng-model="user.password"
                                               required/>
                                        <div ng-show="wform.$submitted">
                                            <span class="text-danger" ng-show="wform.password.$error.required">Введите пароль</span>
                                        </div>
                                    </div>
                                </div>
{$user$}

                                <button type="submit" class="btn btn-danger">
                                        <span ng-show="!ajaxLoader">Войти</span>
                                        <span ng-show="ajaxLoader"><img src="/static/img/ajax-loader2.gif" alt=""/> Отправка</span>
                                    </button>
                            </form>
                            <!-- Login Form Ends -->
                        </div>
                    </div>
                    <!-- Login Panel Ends -->
            </div>

        </section>
        <!-- Login Form Section Ends -->
    </div>
    <script src="{% static 'js/vendor/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/app/vendor/angular.js' %}"></script>
<script src="{% static 'js/app/vendor/angular-pagination.js' %}"></script>
<script src="{% static 'js/app/vendor/angular-resource.js' %}"></script>
<script src="{% static 'js/app/vendor/angular-cookies.js' %}"></script>
<script src="{% static 'js/app/vendor/angular-route.js' %}"></script>
<script src="{% static 'js/app/vendor/angular-ymaps.js' %}"></script>
<script src="{% static 'js/app/app.js' %}"></script>
<script src="{% static 'js/app/directives/checklist-model.js' %}"></script>
<script src="{% static 'js/app/directives/compareValue.js' %}"></script>
<script src="{% static 'js/app/services/getJsonService.js' %}"></script>
<script src="{% static 'js/app/controllers/mainmapCtrl.js' %}"></script>
<script src="{% static 'js/app/controllers/autoserviceCtrl.js' %}"></script>
<script src="{% static 'js/app/controllers/serviceCtrl.js' %}"></script>
<script src="{% static 'js/app/controllers/contactsCtrl.js' %}"></script>
<script src="{% static 'js/app/controllers/loginCtrl.js' %}"></script>
<script src="{% static 'js/app/controllers/registrationCtrl.js' %}"></script>

<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-hover-dropdown.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/masonry.js' %}"></script>
<script src="{% static 'js/vendor/imagesLoaded.js' %}"></script>
<script src="{% static 'js/vendor/custom.js' %}"></script>
<script src="{% static 'js/vendor/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
    </body>
{% endblock %}

