{% extends 'layout.html' %}
{% load sitetree %}

{% block meta %}
    <meta name="description" content="{% sitetree_page_description from 'main' %}">
{% endblock %}

{% block title %}
    <title>{% sitetree_page_title from "main" %}</title>
{% endblock %}
{% block page %}
    <div id="main-container" ng-app="ymapsApp" ng-controller="registrationCtrl">
        <!-- Breadcrumb Starts -->
        {% block breadcrumbs %}
            {% sitetree_breadcrumbs from "main" %}
        {% endblock %}
        <!-- Breadcrumb Ends -->
        <!-- Main Heading Starts -->

        <!-- Main Heading Ends -->
        <!-- Registration Section Starts -->

        <h2 ng-class="{'text-success': success == true, 'text-danger': success == false}"
            class="main-heading text-center">
            {$ result.resultMess$} <br>
            <span>{$ result.resultSubMess$}</span>
        </h2>
        <section ng-hide="result.success" class="registration">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="wform">
                        <form ng-submit="registerSubmit(wform)" method="post" autocomplete="off" class="wform__form"
                              role="form" name="wform" novalidate>
                            {% csrf_token %}
                            <!-- Personal Information Starts -->

                            <div class="wform__group">
                                <label for="userUsername" class="col-sm-5 wform__label">Имя пользователя:</label>

                                <div class="col-sm-7">
                                    <input type="text" class="wform__control" name="username" ng-model="user.username"
                                           required/>
                                    <span class="text-danger">{$ result.usernameErr $}</span>

                                    <div ng-show="wform.$submitted">
                                        <span class="text-danger" ng-show="wform.username.$error.required">Заполните 'Имя пользователя'</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wform__group">
                                <label for="userEmail" class="col-sm-5 wform__label">Ваш email:</label>

                                <div class="col-sm-7">
                                    <input type="email" class="wform__control" name="email" ng-model="user.email"
                                           required/>
                                    <span class="text-danger">{$ result.emailErr $}</span>

                                    <div ng-show="wform.$submitted">
                                        <span class="text-danger" ng-show="wform.email.$error.required">Заполните 'Ваш email'</span>
                                        <span class="text-danger" ng-show="wform.email.$error.email">Неверный адрес элекронной почты</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wform__group">
                                <label for="userPassword" class="col-sm-5 wform__label">Пароль:</label>

                                <div class="col-sm-7">
                                    <input type="password" class="wform__control" name="password" ng-model="user.password"
                                           required/>

                                    <div ng-show="wform.$submitted">
                                        <span class="text-danger" ng-show="wform.confirmPassword.$error.compare">Пароли не совпадают</span>
                                        <span class="text-danger" ng-show="wform.password.$error.required">Придумайте пароль</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wform__group">
                                <label for="userPassword2" class="col-sm-5 wform__label">Повторите пароль:</label>

                                <div class="col-sm-7">
                                    <input class="wform__control" type="password" name="confirmPassword"
                                           ng-model="user.confirmPassword" required compare-to="user.password"/>

                                    <div ng-show="wform.$submitted">
                                        <span class="text-danger" ng-show="wform.confirmPassword.$error.required">Повторите придуманный пароль</span>
                                        <span class="text-danger" ng-show="wform.confirmPassword.$error.compare">Пароли не совпадают</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wform__group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-danger">
                                        <span ng-show="!ajaxLoader">Регистрация</span>
                                        <span ng-show="ajaxLoader"><img src="/static/img/ajax-loader2.gif" alt=""/> Отправка</span>
                                    </button>
                                </div>
                            </div>
                            <!-- Password Area Ends -->
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- Registration Section Ends -->
    </div>
{% endblock %}