{% extends 'layout.html' %}
{% load sitetree %}

{% block meta %}
    <meta name="description" content="{% sitetree_page_description from 'main' %}">
{% endblock %}

{% block title %}
    <title>{% sitetree_page_title from "main" %}</title>
{% endblock %}
{% block page %}
    <div id="main-container">
        <!-- Breadcrumb Starts -->
        {% block breadcrumbs %}
            {% sitetree_breadcrumbs from "main" %}
        {% endblock %}
        <!-- Breadcrumb Ends -->
        <!-- Main Heading Starts -->

        <!-- Main Heading Ends -->
        {% if registered %}
            <h2 class="main-heading text-center">
                Регистрация прошла успешно <br>
                <span>Подтверждение регистрации</span>
            </h2>

        {% else %}
            <!-- Registration Section Starts -->

            <h2 class="main-heading text-center">
                Регистрация <br>
                <span>Создайте нового пользователя</span>
            </h2>
            <section class="registration">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="wform">
                            <form method="post" action="." autocomplete="off" class="wform__form" role="form"
                                  novalidate="">
                                {% csrf_token %}
                                <!-- Personal Information Starts -->
                                <div class="wform__group text-center">
                                    {{ form.non_field_errors|safe  }}
                                </div>


                                <div class="wform__group">
                                    <label for="inputFname" class="col-sm-5 wform__label">Имя пользователя:</label>

                                    <div class="col-sm-7">
                                        {{ form.username }}
                                        <span>{{ form.username.errors| safe }}</span>
                                    </div>
                                </div>
                                <div class="wform__group">
                                    <label for="inputLname" class="col-sm-5 wform__label">Ваш email:</label>

                                    <div class="col-sm-7">
                                        {{ form.email }}
                                        <span>{{ form.email.errors| safe }}</span>
                                    </div>
                                </div>
                                <div class="wform__group">
                                    <label for="inputLname" class="col-sm-5 wform__label">Пароль:</label>

                                    <div class="col-sm-7">
                                        {{ form.password }}
                                        <span>{{ form.password.errors | safe }}</span>
                                    </div>
                                </div>
                                <div class="wform__group">
                                    <label for="inputLname" class="col-sm-5 wform__label">Повторите пароль:</label>

                                    <div class="col-sm-7">
                                        {{ form.password2 }}
                                        <span>{{ form.password2.errors | safe }}</span>
                                    </div>
                                </div>
                                <div class="wform__group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-danger">
                                            Регистрация
                                        </button>
                                    </div>
                                </div>
                                <!-- Password Area Ends -->
                            </form>
                        </div>

                    </div>

                </div>
            </section>
            <!-- Registration Section Ends -->
        {% endif %}
    </div>
{% endblock %}