<div id="request-form" class="panel-smart " style="display:none" ng-controller="requestCtrl">
    <div class="panel-heading">
        <h3 class="panel-title" ng-class="{'text-success': result.status }">{$result.mess$}</h3>
    </div>
    <div class="wform">
        <!-- Login Form Starts -->
        <form ng-submit="formSubmit(wform)" method="post" autocomplete="off" class="wform__form"
              role="form" name="wform" novalidate>
            {% csrf_token %}
            <div class="wform__group">
                <label for="userUsername" class="wform__label">Ваше имя: *</label>
                    <input type="text" class="wform__control" name="username" ng-model="form.username" required/>
                    <div ng-show="wform.$submitted">
                        <span class="text-danger"
                              ng-show="wform.username.$error.required">Как к вам обращаться?</span>
                    </div>
            </div>
            <div class="wform__group">
                <label class="wform__label" for="id_service_type">Вид сервиса:</label>
                    <select ng-model="form.serviceType" class="wform__control">
                        <option value="Автосервис">Автосервис</option>
                        <option value="Автомойка">Автомойка</option>
                        <option value="Шиномонтаж">Шиномонтаж</option>
                    </select>
            </div>
            <div class="wform__group">
                <label class="wform__label" for="id_service_name">Название сервиса *:</label>
                    <input id="id_service_name" type="text" class="wform__control" name="service_name" ng-model="form.serviceName" required/>
                    <div ng-show="wform.$submitted">
                        <span class="text-danger" ng-show="wform.service_name.$error.required">Как будет называться ваш сервис?</span>
                    </div>
            </div>
            <div class="wform__group">
                <label class="wform__label">Ваш телефон (только цифры (99) 999-99-99) *:</label>
                    <input type="text" class="wform__control js-input__number" name="phone" ng-model="form.phone" ng-minlength="14" mask="(99) 9?99-99-99" restrict="reject" required/>
                    <div ng-show="wform.$submitted">
                        <span class="text-danger" ng-show="wform.phone.$error.required">Как с вами связаться?</span>
                        <span class="text-danger" ng-show="wform.phone.$error.minlength">Введите правильный телефон! Формат: (99) 999-99-99</span>
                    </div>
            </div>
            <div class="wform__group">
                <label for="userEmail" class="wform__label">Ваш email:</label>
                <input type="email" class="wform__control" name="email" ng-model="form.email"/>
                <span class="text-danger">{$ result.emailErr $}</span>

                <div ng-show="wform.$submitted">
                        <span class="text-danger"
                              ng-show="wform.email.$error.email">Неверный адрес элекронной почты</span>
                </div>
            </div>

            <div class="wform__group">
                <button type="submit" class="btn btn-danger">
                    <span ng-show="!ajaxLoader">Отправить</span>
                    <span ng-show="ajaxLoader"><img src="/static/img/ajax-loader2.gif" alt=""/> Отправка</span>
                </button>
            </div>
        </form>
        <!-- Login Form Ends -->
    </div>
</div>