{% extends 'layout.html' %}
{% load sitetree %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock %}
{% block page %}
    <div id="main-container">
        <div class="wrap">
            <div class="row">
                <div class="col-md-9">
                    <form method="post" action="{{ path }}"
                          enctype="multipart/form-data" class="wform">
                        <div class="row">
                            <div class="col-sm-12">
                                {% csrf_token %}
                                {{ form.errors }}
                                <h2 class="wform__title">Редактирование {{ service.name }}</h2>

                                <div class="wform__panel">
                                    <div class="row">
                                        <div class="col-sm-5 service__images">
                                            <div class="wform__sub-wrap">
                                                <a href="/">
                                                    <img src="{{ service.logo.url }}" alt=""
                                                         class="img-responsive thumbnail service__img"/>
                                                </a>
                                                {{ form.logo }}
                                            </div>
                                            <div class="wform__sub-wrap">
                                                <h4 class="wform__sub-title">Режим работы</h4>

                                                <div class="wform__group row">
                                                    <label class="wform__label col-sm-4">Понедельник:</label> <div class="col-sm-8">{{ form.monday }}</div>
                                                </div>
                                                <div class="wform__group row">
                                                    <label class="wform__label col-sm-4">Вторник:</label> <div class="col-sm-8">{{ form.tuesday }}</div>
                                                </div>
                                                <div class="wform__group row">
                                                    <label class="wform__label col-sm-4">Среда:</label> {{ form.wednesday }}
                                                </div>
                                                <div class="wform__group row">
                                                    <label class="wform__label col-sm-4">Четверг:</label>{{ form.thursday }}
                                                </div>
                                                <div class="wform__group row">
                                                    <label class="wform__label col-sm-4">Пятница:</label> {{ form.friday }}
                                                </div>
                                                <div class="wform__group row">
                                                    <label class="wform__label col-sm-4">Суббота:</label>{{ form.saturday }}
                                                </div>
                                                <div class="wform__group row">
                                                    <label class="wform__label col-sm-4">Воскресенье:</label> {{ form.sunday }}
                                                </div>


                                                <div class="wform__group">
                                                    <label class="wform__label ">Время работы:</label>
                                                    <div>c {{ form.work_start }} до {{ form.work_end }}</div>
                                                </div>
                                                <div class="wform__group">
                                                    <label class="wform__label">Время обеда:</label>
                                                    <div>с {{ form.break_time_start }} до {{ form.break_time_end }}</div>
                                                </div>
                                                <div class="wform__group">
                                                    <label class="wform__label">Сокращенный день:</label>
                                                    <div>с {{ form.holiday_time_start }} до {{ form.holiday_time_end }}</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-7">
                                            <h4 class="wform__sub-title">Контактные данные</h4>

                                            <div class="wform__group">

                                                <span class="service__param-name">Название:</span> {{ form.name }}
                                                <div class="text-danger">{{ form.name.errors.as_text }}</div>
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Адрес:</span> {{ form.address }}
                                            </div>

                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (velcom):</span> {{ form.phone_velcom }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (velcom дополнительный):</span> {{ form.phone_velcom2 }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (mts):</span> {{ form.phone_mts }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (mts дополнительный):</span> {{ form.phone_mts2 }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (life):</span> {{ form.phone_life }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (life дополнительный):</span> {{ form.phone_life2 }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (городской):</span> {{ form.phone_city }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Телефон (городской дополнительный):</span> {{ form.phone_city }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Email:</span> {{ form.email }}
                                            </div>
                                            <div class="wform__group">
                                                <span class="service__param-name">Сайт компании:</span> {{ form.site_url }}
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <div class="wform__panel">


                                    <div class="row">
                                        <div class="col-sm-6">

                                        </div>
                                        <div class="col-sm-6">

                                        </div>
                                    </div>


                                </div>
                                {% block custom_field %}

                                {% endblock %}
                                <div class="panel panel-smart">
                                    <h4>Описание</h4>
                                    <ul class="list-unstyled service__list">
                                        <li class="service__list-item">
                                            <span class="service__param-name">Краткое описание:</span> {{ form.teaser }}
                                        </li>
                                        <li class="service__list-item">

                                            <span class="service__param-name">Полное описание:</span> {{ form.full_desc }}
                                        </li>
                                    </ul>


                                </div>
                                <div class="center">
                                    <input type="submit" name="submit" value="Create Category"/>
                                </div>


                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="/auth/user/" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Ваш профиль
                        </a>
                        <a href="/auth/user/service" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Ваши сервисы
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block add_script %}
    {{ form.media }}
{% endblock %}