{% extends 'layout.html' %}
{% load sitetree %}

{% block meta %}
    <meta name="description" content="Успешная регистрация">
{% endblock %}

{% block title %}
    <title>Успешная регистрация</title>
{% endblock %}
{% block page %}
    <div id="main-container">
        <!-- Breadcrumb Starts -->
        {% block breadcrumbs %}

        {% endblock %}
        <!-- Breadcrumb Ends -->
        <!-- Main Heading Starts -->

        <!-- Main Heading Ends -->

            <h2 class="main-heading text-center">
                Регистрация прошла успешно <br>
                <span>Подтверждение регистрации</span>
            </h2>
            <p class="text-center col-sm-8 col-sm-offset-2">
                Иструкция по подтверждению аккаунта отправлена на email указанный при регистрации
            </p>

    </div>
{% endblock %}