{% extends 'myauth/service_edit.html' %}
{% load sitetree %}

{% block custom_field %}
    <div class="wform__panel">
        <h4 class="wform__sub-title">Шины</h4>

        <div class="wform__group row wform__inside">
            <div class="col-sm-12">{{ form.tire_work }}</div>
        </div>
    </div>
    <div class="wform__panel">
        <h4 class="wform__sub-title">Диски</h4>

        <div class="wform__group row wform__inside">
            <div class="col-sm-12">{{ form.disc_work }}</div>
        </div>
    </div>
    <div class="wform__panel">
    <h4 class="wform__sub-title">Дополнительные услуги</h4>

        <div class="wform__group row wform__inside">
            <div class="col-sm-12">{{ form.add_services }}</div>
        </div>
    </div>

{% endblock %}