{% extends 'layout.html' %}
{% load sitetree %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock %}
{% block page %}
    <div id="main-container">
    <div class="wrap">
        <div class="row service">
            <div class="col-md-9">
            <div class="table-responsive shopping-cart-table">
            {% if user.autoservice_set.all or  user.carwash_set.all or user.tireservice_set.all %}
				<table class="table table-bordered service-table">
					<thead>
						<tr>
							<td class="text-center">
								Логотип
							</td>
							<td class="text-center">
								Название
							</td>
							<td class="text-center">
								Тип
							</td>
                            <td class="text-center">
								Опубликован?
							</td>
							<td class="text-center">
								Управление
							</td>
						</tr>
					</thead>
					<tbody>

                        {% for autoservice in  user.autoservice_set.all %}
						<tr>
							<td class="text-center service-table__img">
								<a href="{{ autoservice.get_absolute_url }}">
									<img src="{{ autoservice.logo.url }}" alt="Product Name" title="Product Name" class="img-thumbnail service__img">
								</a>
							</td>
							<td class="text-center">
								<a href="{{ autoservice.get_absolute_url }}">{{ autoservice }}</a>
							</td>
                            <td class="text-center">Автосервис</td>
                            <td class="text-center service-table__icon">
                                {% if autoservice.is_moderate %}
                                <i class="fa fa-check-circle text-success" data-original-title="Редактировать"></i>
                                {% else %}
                                <i class="fa fa-times-circle text-danger" data-original-title="Редактировать"></i></td>
                                {% endif %}
							<td class="text-center">
								<a href="/auth/user/service/edit_as_{{ autoservice.id }}/" type="submit" title="" class="btn btn-default tool-tip" data-original-title="Редактировать">
									<i class="fa fa-pencil-square"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
                    {% for carwash in  user.carwash_set.all %}
						<tr>
							<td class="text-center">
								<a href="{{ carwash.get_absolute_url }}">
									<img src="{{ carwash.logo.url }}" alt="Product Name" title="Product Name" class="img-thumbnail service__img">
								</a>
							</td>
							<td class="text-center">
								<a href="{{ carwash.get_absolute_url }}">{{ carwash }}</a>
							</td>
                            <td class="text-center">Автомойка</td>
                            <td class="text-center service-table__icon">

                                {% if carwash.is_moderate %}
                                <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fa fa-times-circle text-danger"></i></td>
                                {% endif %}
                            </td>
							<td class="text-center">
								<a href="/auth/user/service/edit_cw_{{ carwash.id }}/" type="submit" title="" class="btn btn-default tool-tip" data-original-title="Редактировать">
									<i class="fa fa-pencil-square"></i>
								</a>

							</td>
						</tr>
					{% endfor %}
                    {% for tireservice in  user.tireservice_set.all %}
						<tr>
							<td class="text-center">
								<a href="{{ tireservice.get_absolute_url }}">
									<img src="{{ tireservice.logo.url }}" alt="Product Name" title="Product Name" class="img-thumbnail service__img">
								</a>
							</td>
							<td class="text-center">
								<a href="{{ tireservice.get_absolute_url }}">{{ tireservice }}</a>
							</td>
                            <td class="text-center">Шиномонтаж</td>
                            <td class="text-center service-table__icon">

                                {% if carwash.is_moderate %}
                                <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fa fa-times-circle text-danger"></i></td>
                                {% endif %}
                            </td>
							<td class="text-center">
								<a href="/auth/user/service/edit_ts_{{ tireservice.id }}/" type="submit" title="" class="btn btn-default tool-tip" data-original-title="Редактировать">
									<i class="fa fa-pencil-square"></i>
								</a>

							</td>
						</tr>
					{% endfor %}

					</tbody>

				</table>
            {% else %}
                        <h3 class="">Вы еще не зарегистрировали пока не одного сервиса</h3>
                        <p class="alert alert-warning">Нажмите кнопку 'добавить сервис' для запроса регистрации</p>



                    {% endif %}
            <div class="wform__group text-center"><a class="btn-lg btn-success popup fancybox" href="#request-form">Добавить сервис</a></div>
			</div>



            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/auth/user/" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Ваш профиль
                    </a>

                        <a href="/auth/user/service" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Ваши сервисы
                    </a>

                </div>
            </div>
        </div>
    </div>

    </div>
{% include 'myauth/request_form.html' %}
{% endblock %}