{% extends 'layout.html' %}
{% load sitetree %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock %}
{% block page %}
    <div id="main-container">
    <div class="wrap">
        <div class="row service">
            <div class="col-md-9">

            </div>
            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/auth/user/edit/" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Редактировать профиль
                    </a>
                    {% if user_profile.autoservice_set.all %}
                        <a href="/auth/user/service" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Мои сервисы
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}