{% extends "service/detail_view.html" %}

{% block work %}
    <div class="service__item">
    {% if service.autoservice_work.all %}
        <h2 class="service__title service__title--small">{{ service.autoservice_work.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work in service.autoservice_work.all %}
                <li class="service__work-item">{{ work }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
        {% if service.specialization_work.all %}
        <h2 class="service__title service__title--small">{{ service.specialization_work.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work1 in service.specialization_work.all %}
                <li class="service__work-item"><img src="{% if work1.logo %}{{ work1.logo.url }}{% endif %}" alt="{{ work1 }}"/></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
        {% if service.add_services.all %}
        <h2 class="service__title service__title--small">{{ service.add_services.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->
        <hr/>
        <ul class="list-unstyled service__list">

            {% for work in service.add_services.all %}
                <li class="service__work-item">{{ work.work_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}