{% extends "service/detail_view.html" %}

{% block work %}
    <div class="service__item">
    {% if service.repair_work.all %}
        <h2 class="service__title service__title--small">{{ service.repair_work.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list row">

            {% for work in service.repair_work.all %}
                <li class="service__work-item col-sm-3">{{ work }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
    {% if service.diag_work.all %}
        <h2 class="service__title service__title--small">{{ service.diag_work.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work in service.diag_work.all %}
                <li class="service__work-item">{{ work }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
    {% if service.add_work.all %}
        <h2 class="service__title service__title--small">{{ service.add_work.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work in service.add_work.all %}
                <li class="service__work-item">{{ work }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
        {% if service.specialization_work.all %}
        <h2 class="service__title service__title--small">{{ service.specialization_work.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for brend in service.specialization_work.all %}
                <li class="service__work-item"><img src="{% if brend.logo %}{{ brend.logo.url }}{% endif %}" alt="{{ brend }}" title="{{ brend }}"/></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
        {% if service.add_services.all %}
        <h2 class="service__title service__title--small">{{ service.add_services.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->
        <hr/>
        <ul class="list-unstyled service__list">

            {% for service in service.add_services.all %}
                 <li class="service__work-item"><img src="{% if service.logo %}{{ service.logo.url }}{% endif %}" title="{{ service }}" alt="{{ service }}"/></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}