{% extends "service/detail_view.html" %}


{% block work %}
    <div class="service__item">
    {% if service.type_carwash.all %}
        <h2 class="service__title service__title--small">{{ service.type_carwash.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work in service.type_carwash.all %}
                <li class="service__work-item"><i class="fa fa-check service__work-icon"></i>{{ work }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
    {% if service.type_vehicle.all %}
        <h2 class="service__title service__title--small">{{ service.type_vehicle.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work in service.type_vehicle.all %}
                <li class="service__work-item"><i class="fa fa-check service__work-icon"></i>{{ work }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
    {% if service.car_wash_services.all %}
        <h2 class="service__title service__title--small">{{ service.car_wash_services.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work in service.car_wash_services.all %}
                <li class="service__work-item"><i class="fa fa-check service__work-icon"></i>{{ work }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
        {% if service.car_wash_services.all %}
        <h2 class="service__title service__title--small">{{ service.car_wash_services.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->

        <ul class="list-unstyled service__list">

            {% for work in service.car_wash_services.all %}
                <li class="service__work-item"><img src="{% if work.logo %}{{ work.logo.url }}{% endif %}" alt="{{ work }}"/></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="service__item">
        {% if service.add_services.all %}
        <h2 class="service__title service__title--small">{{ service.add_services.first.get_model_name }}:</h2>

        <!-- Product Name Ends -->
        <hr/>
        <ul class="list-unstyled service__list">

            {% for work in service.add_services.all %}
                <li class="service__work-item">{{ work.work_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}