{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="{{ service.description }}">
{% endblock %}

{% block title %}
    <title>{{ service.title }}</title>
{% endblock %}

{% block page %}

    <!-- Main Container Starts -->
    <div id="main-container" ng-app="ymapsApp" ng-controller="serviceCtrl">
        <!-- Breadcrumb Starts -->
        {% block breadcrumbs %}
                {% endblock %}
        <!-- Breadcrumb Ends -->
        <div class="wrap">


            <!-- Product Info Starts -->
            <div class="row service">
                <!-- Left Starts -->
                <div class="col-sm-4 service__images">
                    <a href="/">
                        <img src="{{ service.logo.url }}" alt="{{ service.name }}"
                             class="img-responsive thumbnail service__img" title='{{ service.name }}' />
                    </a>

                    <div class="service__desc">
                        {{ service.teaser }}
                    </div>

                </div>
                <!-- Left Ends -->
                <!-- Right Starts -->
                <div class="col-sm-8  service__details">
                    <div class="service__panel">
                        <div class="service__item">
                            <!-- Product Name Starts -->
                            <h1 class="service__title">{{ service.name }}</h1>
                            <!-- Product Name Ends -->
                            <hr/>
                            <!-- Manufacturer Starts -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled service__list">
                                        <li class="service__list-item">
                                            <span class="service__param-name">Рейтинг:</span>
                                            {% if rating.rate__avg %}
                                                <span class="service__rating">

                            <i ng-repeat="star in starsInit('{{ rating.rate__avg|stringformat:"f" }}').positiveStar track by $index"
                               style="color: red" class="fa fa-star"></i><i
                                                        ng-repeat="star in starsInit('{{ rating.rate__avg|stringformat:"f" }}').halfStar track by $index"
                                                        style="color: red" class="fa fa-star-half-o"></i><i
                                                        ng-repeat="star in starsInit('{{ rating.rate__avg|stringformat:"f" }}').negativeStar track by $index"
                                                        style="color: red" class="fa fa-star-o"></i>
                        </span>
                                            {% else %}
                                                <span class="service__param">нет оценок данного сервиса</span>
                                            {% endif %}


                                        </li>
                                        <li class="service__list-item">
                                            <span class="service__param-name">Адрес:</span> {{ service.city }}, {{ service.address }}, {{ service.building }}
                                        </li>
                                        {% if service.siteUrl %}
                                            <li class="service__list-item"><span
                                                    class="service__param-name">Сайт:</span> {{ service.siteUrl }}</li>
                                        {% endif %}
                                        {% if service.email %}
                                            <li class="service__list-item"><span
                                                    class="service__param-name">E-mail:</span> {{ service.email }}</li>
                                        {% endif %}
                                        <li class="service__list-item">
                                            <span class="service__param-name">Телефоны:</span>
                                            <ul class="service__phone-list list-unstyled">
                                                {% if service.phone_velcom %}
                                                    <li class="phone"><i class="phone__icon icon icon-vel"><i
                                                            class="path1"></i><i
                                                            class="path2"></i><i class="path3"></i></i>
                                                    <span
                                                            class="service__param">{{ service.phone_velcom }}</span></li>
                                                {% endif %}
                                                {% if service.phone_velcom2 %}
                                                    <li class="phone"><i
                                                            class="phone__icon icon icon-city"></i>
                                                    <span
                                                            class="service__param">{{ service.phone_velcom2 }}</span></li>
                                                {% endif %}
                                                {% if service.phone_mts %}
                                                    <li class="phone"><i class="phone__icon icon icon-mts"></i>
                                                    <span class="service__param">{{ service.phone_mts }}</span></li>
                                                {% endif %}
                                                {% if service.phone_mts2 %}
                                                    <li class="phone"><i class="phone__icon icon icon-mts"></i>
                                                    <span
                                                            class="service__param">{{ service.phone_mts2 }}</span></li>
                                                {% endif %}
                                                {% if service.phone_life %}
                                                    <li class="phone"><i
                                                            class="phone__icon icon icon-life"></i>
                                                    <span
                                                            class="service__param">{{ service.phone_life }}</span></li>
                                                {% endif %}
                                                {% if service.phone_life2 %}
                                                    <li class="phone"><i
                                                            class="phone__icon icon icon-life"></i>
                                                    <span
                                                            class="service__param">{{ service.phone_life2 }}</span></li>
                                                {% endif %}
                                                {% if service.phone_city %}
                                                    <li class="phone"><i
                                                            class="phone__icon icon icon-city"></i>
                                                    <span
                                                            class="service__param">{{ service.phone_city }}</span></li>
                                                {% endif %}
                                                {% if service.phone_city2 %}
                                                    <li class="phone"><i
                                                            class="phone__icon icon icon-city"></i>
                                                    <span
                                                            class="service__param">{{ service.phone_city2 }}</span></li>
                                                {% endif %}
                                    </ul>

                                    </li>
                                    <li class="service__list-item"><span
                                            class="service__param-name">Рабочие дни:</span>
                <span class="service__workday">
                    {% for day in service.get_workday_list %}
                        {% if day.0 == 'wd' %}
                            <span class="service__workday-icon service__workday-icon--blue"
                                  title="рабочий день">{{ day.1 }}</span>
                        {% elif day.0 == 'sd' %}
                            <span class="service__workday-icon service__workday-icon--orange"
                                  title="сокращенный день">{{ day.1 }}</span>
                        {% else %}
                            <span class="service__workday-icon service__workday-icon--red"
                                  title="выходной день">{{ day.1 }}</span>
                        {% endif %}
                    {% endfor %}
                </span>
                                    </li>
                                    <li class="service__list-item"><span
                                            class="service__param-name">Время работы:</span>
                                        <span class="service__param">c {{ service.get_work_start_display }} до {{ service.get_work_end_display }}</span>
                                    </li>
                                    {% if service.break_time_start == 0 or service.break_time_end == 0 %}
                                        <li class="service__list-item"><span
                                                class="service__param-name">Время обеда:</span>
                                            {{ service.break_time_start }}
                                            <span class="service__param">c {{ service.get_break_time_start_display }} до {{ service.get_break_time_end_display }}</span>
                                        </li>
                                    {% else %}
                                        <li class="service__list-item"><span
                                                class="service__param-name">Время обеда:</span><span
                                                class="service__param">Без обеда</span>
                                        </li>
                                    {% endif %}
                                    {% if service.holiday_time_start == 0 or service.holiday_time_end == 0 %}
                                        <li class="service__list-item"><span class="service__param-name">Сокращенный день:</span>
                                            <span class="service__param">c {{ service.get_holiday_time_start_display }} до {{ service.get_holiday_time_end_display }}</span>
                                        </li>
                                    {% endif %}

                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <section class="map map_main">
                                        <div class="map__wrap"
                                             ng-init="coords=[55.21, 34.30];center=[{{ service.longitude }}, {{ service.latitude }}]; zoom='15'">
                                            <yandex-map center="center" zoom="zoom"
                                                        class="map__container map__container--single">
                                                <ymap-marker
                                                        coordinates="[{{ service.longitude }} ,{{ service.latitude }}]"
                                                        options="{
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/map/as-ico.png',
                        iconImageSize: [30, 48],
                        iconImageOffset: [-20, -20],

                        iconShape: {
                            type: 'Circle',
                            coordinates: [0, 0],
                            radius: 20
                        },
                     }">

                                                </ymap-marker>
                                            </yandex-map>
                                        </div>
                                    </section>
                                </div>
                            </div>

                        </div>
                        {% block work %}

                        {% endblock %}

                        <!-- Manufacturer Ends -->
                        <hr/>

                    </div>
                </div>
                <!-- Right Ends -->

            </div>
            <!-- Product Info Ends -->
            <!-- Tabs Starts -->
            <div class="tabs-panel panel-smart">
                <!-- Nav Tabs Starts -->
                <ul class="nav nav-tabs">
                    {% if service.full_desc %}
                        <li class="active"><a href="#tab-desc">Описание</a></li>
                    {% endif %}
                    <li class="{% if not service.full_desc %}active{% endif %}"><a href="#tab-review">Отзывы</a></li>
                    <li><a href="#tab-sendreview">Оставить отзыв</a></li>
                </ul>
                <!-- Nav Tabs Ends -->
                <!-- Tab Content Starts -->
                <div class="tab-content clearfix">
                    {% if service.full_desc %}
                        <div class="tab-pane active" id="tab-desc">
                            <div class="service__desc">{{ service.full_desc|safe }}</div>
                        </div>
                    {% endif %}
                    <!-- Additional Information Starts -->
                    <div class="tab-pane {% if not service.full_desc %}active{% endif %}" id="tab-review">

                        {% for review in reviews %}
                            <div class="review">
                                <div class="review__date">{{ review.pub_date }} <i
                                        ng-repeat="star in starsInit('{{ review.rate }}').positiveStar track by $index"
                                        style="color: red" class="fa fa-star"></i><i
                                        ng-repeat="star in starsInit('{{ review.rate__avg|stringformat:"f" }}').halfStar track by $index"
                                        style="color: red" class="fa fa-star-half-o"></i><i
                                        ng-repeat="star in starsInit('{{ review.rate }}').negativeStar track by $index"
                                        style="color: red" class="fa fa-star-o"></i>
                                </div>
                                <div class="review__text">{{ review.review }}</div>
                                <div class="review__author">{{ review.author }}</div>
                            </div>
                        {% empty %}
                            Нет отзывов
                        {% endfor %}


                    </div>

                    <!-- Additional Information Ends -->
                    <!-- Review Starts -->
                    <div class="tab-pane" id="tab-sendreview">
                        {% if user.is_authenticated %}
                            <div class="text-danger col-sm-10 col-sm-offset-2">{$ result $}</div>
                            <form ng-submit="reviewSubmit()" class="form-horizontal">
                                <input ng-model="review.relate" class="hidden" type="text"
                                       ng-init="review.relate = '{{ service.get_content_type }}'"/>
                                <input ng-model="review.username" class="hidden" type="text"
                                       ng-init="review.username = '{{ user.username }}'"/>
                                <input ng-model="review.obj_id" class="hidden" type="text"
                                       ng-init="review.obj_id = '{{ service.id }}'"/>

                                <div class="form-group required">
                                    <div class="text-danger error col-sm-10 col-sm-offset-2">{$ error.textError $}</div>
                                    <label class="col-sm-2 control-label" for="input-review">Ваш отзыв</label>

                                    <div class="col-sm-10">

                        <textarea ng-model="review.text" name="text" rows="5" id="input-review"
                                  class="form-control"></textarea>

                                        <div class="help-block">
                                            Ваше непредвзятое мнение...
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="text-danger col-sm-10 col-sm-offset-2">{$ error.rateError $}</div>
                                    <label class="col-sm-2 control-label ratings">Ваша оценка</label>

                                    <div class="col-sm-10">
                                        Очень плохо&nbsp;
                                        <input ng-model="review.rate" type="radio" name="rating" value="1"/>
                                        &nbsp;
                                        <input ng-model="review.rate" type="radio" name="rating" value="2"/>
                                        &nbsp;
                                        <input ng-model="review.rate" type="radio" name="rating" value="3"/>
                                        &nbsp;
                                        <input ng-model="review.rate" type="radio" name="rating" value="4"/>
                                        &nbsp;
                                        <input ng-model="review.rate" type="radio" name="rating" value="5"/>
                                        &nbsp;Отлично
                                    </div>
                                </div>
                                <div class="buttons">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input class="btn btn-warning" type="submit" id="submit"
                                               value="Оставить отзыв"/>
                                    </div>
                                </div>
                            </form>
                        {% else %}

                            <span>Чтобы оставлять отзывы вы должный сначало <a class="popup fancybox.iframe"
                                                                               href="/auth/login#login-form">авторизоваться</a> Если же вы не имеете аккаунта на нашем сайте, вы можете пройти <a
                                    href="/auth/registration">процедуру регистрации</a></span>
                        {% endif %}

                    </div>
                    <!-- Review Ends -->
                </div>
                <!-- Tab Content Ends -->
            </div>
            <!-- Tabs Ends -->
        </div>

    </div>
    <!-- Main Container Ends -->
{% endblock %}
