{% extends "layout.html" %}
{% load hosts %}
{% load staticfiles %}

{% block wrapper %}
        <div id="wrapper" class="container container--full-width">
            {% block header %}
                 <header id="header-area" class="wrap">
        <!-- Nested Row Starts -->
        <div class="row">
            <!-- Logo Starts -->
            <div class="col-md-3 col-xs-12">
                <div id="logo">
                    <a href="{% host_url 'index' host 'default' %}"><img src="{% static 'img/logo.png' %}" title="Grocery Shoppe" alt="Grocery Shoppe"
                                     class="img-responsive"/></a>
                </div>
            </div>
            <!-- Logo Ends -->
            <!-- Header Right Starts -->
            <div class="col-md-7 col-xs-12">
                <div class="row header-top">
                    <!-- Header Links Starts -->

                    <div class="header-links">
                        <ul class="list-unstyled list-inline pull-left">
                            <li><a href="{% host_url 'index' host 'default' %}">Главная</a></li>
                            <li><a href="{% host_url 'page_view' page_alias='o-proekte' host 'default' %}">О проекте</a></li>
                            <!--li><a href="#">Правила портала</a></li-->
                            <li><a href="{% host_url 'contacts:cooperate' host 'default' %}">Сотрудничество</a></li>
                            <li><a href="{% host_url 'contacts:contacts' host 'default' %}">Контакты</a></li>

                            <!--li><a href="#">Мой блог</a></li-->

                            <!--li><a href="cart.html"></a></li-->
                            {% if  not user.is_authenticated %}
                                <!--li><a href="#">Мой профиль</a></li-->
                                <li><a href="{% host_url 'myauth:user_register' host 'default' %}">Регистрация</a></li>
                            {% else %}
                                <li><a href="{% host_url 'myauth:user_board' host 'default' %}">Ваш профиль</a></li>
                                {% if user.autoservice_set.all or  user.carwash_set.all or user.tireservice_set.all %}
                                    <li><a href="{% host_url 'myauth:userprofile_service' host 'default' %}">Ваши сервисы</a></li>
                                {% endif %}
                            {% endif %}

                            <!--li><a href="login.html">Книга жалоб и предложений</a></li-->
                        </ul>
                    </div>

                    <!-- Header Links Ends -->
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <h2 class="site-title" >Портал автолюбителей беларуси</h2>
                    </div>
                </div>
            </div>
            <!-- Header Right Ends -->
            <div class="col-md-2 col-xs-12">
                {% if user.is_authenticated %}
                    <span>Вы вошли как: {{ user.username }} <a href="{% host_url 'myauth:user_logout' host 'default' %}">Выйти</a></span>
                {% else %}
                    <a class="btn btn-danger popup fancybox" href="#login-form">Войти</a>
                {% endif %}

            </div>
        </div>
        <!-- Nested Row Ends -->
    </header>
    <!-- Header Section Ends -->
    <!-- Main Menu Starts -->
    <nav id="main-menu" class="navbar" role="navigation">
        <!-- Nav Header Starts -->
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-cat-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Nav Header Ends -->
        <!-- Navbar Cat collapse Starts -->
        <div class="collapse navbar-collapse navbar-cat-collapse wrap">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-hover="dropdown"
                          data-delay="10">
                        Сервисы
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a tabindex="-1" href="{% host_url 'autoservice_list' host 'autoservices' %}">Автосервисы</a></li>
                        <li><a tabindex="-1" href="{% host_url 'carwash_list' host 'carwashes' %}">Автомойки</a></li>
                        <li><a tabindex="-1" href="{% host_url 'tireservice_list' host 'tireservices' %}">Шиномонтажи</a></li>
                    </ul>
                </li>
                <li><a href="{% host_url 'news:post_list' host 'default' %}">Новости</a></li>
                <!--li><a href="#">Машины</a></li-->
                <!--li><a href="#">Обзоры</a></li-->
                <li><a href="{% host_url 'tuning:tuning_post_list' host 'default' %}">Тюнинг</a></li>
                <!--li><a href="/blogs">Блоги</a></li-->
                <!--li><a href="/cars">Машины</a></li-->
            </ul>
        </div>
        <!-- Navbar Cat collapse Ends -->
    </nav>
            {% endblock %}
            {% block page %}
            {% endblock %}
        </div>

{% endblock %}