{% extends "layout.html" %}
{% block page %}
    <!-- Main Container Starts -->
    <div id="main-container" ng-app="ymapsApp" ng-controller="autoserviceCtrl">
    <div class="row">
    <!-- Primary Content Starts -->
    <div class="col-md-9">
        <!-- Breadcrumb Starts -->
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Spices &amp; Herbs</li>
        </ol>
        <!-- Breadcrumb Ends -->
        <!-- Main Heading Starts -->
        <h2 class="main-heading2">
            Автосервисы
        </h2>
        <!-- Main Heading Ends -->
        <!-- Category Intro Content Starts -->
        <div class="row cat-intro" >
            {% verbatim %}
            <section class="map map_main col-md-12">
                <div class="map__wrap" ng-init="coords=[55.21, 34.30];center=[55.21, 34.30];zoom=10" ng-if="isLoading">
                <yandex-map center="center" zoom="zoom" class="map__container">
                    <ymap-marker ng-repeat="service in filteredService"
                                 coordinates="[service.longitude ,service.latitude]"
                                 properties="{balloonContent: '<strong style='+'color:red'+'>'+service.name+'</strong><br>'+service.teaser+'<br>'+service.address, iconStyle.size: '300'}"
                                 options="{
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/map/as-ico.png',
                        iconImageSize: [40, 40],
                        iconImageOffset: [-20, -20],

                        iconShape: {
                            type: 'Circle',
                            coordinates: [0, 0],
                            radius: 20
                        },
                     }">

                    </ymap-marker>
                </yandex-map>
            </div>
            </section>

            {% endverbatim %}
        </div>
        <!-- Category Intro Content Ends -->
        <!-- Product Filter Starts -->
        <div class="product-filter">
            <div class="row">
                <div class="col-md-7">
                    <div class="display">
                        <a href="category-list.html" class="active">
                            <i class="fa fa-th-list" title="List View"></i>
                        </a>
                        <a href="category-grid.html">
                            <i class="fa fa-th" title="Grid View"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 text-right">
                    <label class="control-label">Показывать:</label>
                </div>
                <div class="col-md-2 text-right">
                    <select class="form-control" ng-model="rowPerPage">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="36" selected="selected">36</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Product Filter Ends -->
        <!-- Product List Display Starts -->
        <div class="row" ng-if="isLoading">

            <!-- Product #1 Starts -->
            {% verbatim %}
                <div class="col-xs-12" ng-repeat ="service in filteredService | paginate:rowPerPage">
                    <div class="product-col list clearfix">
                        <div class="image">
                            <a href="{{ service.url }}"><img src="{{ service.logo }}" alt="" class="img-responsive"/></a>
                        </div>
                        <div class="caption">
                            <h4><a href="{{ service.url }}">{{ service.name }}</a></h4>

                            <div class="description">
                                {{ service.teaser }}
                            </div>
                            <div class="price">
                                <p class="price-tax">Адрес: {{ service.address }}</p>

                            </div>
                            <div class="cart-button button-group">

                                <a href="{{ service.url }}" class="btn btn-cart">
                                    Подробнее
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endverbatim %}
            <!-- Product #1 Ends -->

        </div>
        <!-- Product List Display Ends -->
        <!-- Pagination & Results Starts -->
        <div class="row">
            <!-- Pagination Starts -->
            <div class="col-sm-6 pagination-block">
                <paginator></paginator>
            </div>
            <!-- Pagination Ends -->
        </div>
        <!-- Pagination & Results Ends -->
    </div>
    <!-- Primary Content Ends -->
    <!-- Sidebar Starts -->
    <div class="col-md-3">

        <!-- Shopping Options Starts -->
        <h3 class="side-heading">Виды работ</h3>

        <div class="list-group">
            <div class="list-group-item">
                АвтоЭлектрика
            </div>
            <div class="list-group-item">
                <div class="filter-group">
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.compDiag"/>
                        компьютерная диагностика
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.repElect"/>
                        ремонт электрооборудования
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.repGen"/>
                        ремонт генераторов, стартеров
                    </label>
                </div>
                <pre ng-bind="options | json"></pre>
            </div>
            <div class="list-group-item">
                Кузовной ремонт
            </div>
            <div class="list-group-item">
                <div class="filter-group">
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.carPaint"/>
                        Покраска авто
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.recGeo"/>
                        Восстановление геометрии
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.bodyWork"/>
                       Кузовные работы, рихтовка
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.welding"/>
                        Сварочные работы
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.selectPaint"/>
                        Подбор краски
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.repBump"/>
                       Ремонт бамперов, пластика
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.repPaint"/>
                        Беспокрасочное удаление вмятин
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.sandblasting"/>
                        Пескоструйная обработка
                    </label>
                    <label class="checkbox">
                        <input name="filter1" type="checkbox" ng-model="options.corTreatment"/>
                        Антикоррозийная обработка
                    </label>
                </div>
            </div>
            
        </div>
        <!-- Shopping Options Ends -->
        <!-- Bestsellers Links Starts -->
        <h3 class="side-heading">Bestsellers</h3>

        <div class="product-col">
            <div class="image">
                <img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive"/>
            </div>
            <div class="caption">
                <h4>
                    <a href="product-full.html">Simply Organic Seeds</a>
                </h4>

                <div class="description">
                    We are so lucky living in such a wonderful time. Our almost unlimited ...
                </div>
                <div class="price">
                    <span class="price-new">$199.50</span>
                    <span class="price-old">$249.50</span>
                </div>
                <div class="cart-button button-group">
                    <button type="button" title="Wishlist" class="btn btn-wishlist">
                        <i class="fa fa-heart"></i>
                    </button>
                    <button type="button" title="Compare" class="btn btn-compare">
                        <i class="fa fa-bar-chart-o"></i>
                    </button>
                    <button type="button" class="btn btn-cart">
                        Add to cart
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Bestsellers Links Ends -->
    </div>
    <!-- Sidebar Ends -->
    </div>
    </div>
    <!-- Main Container Ends -->
{% endblock %}