{% extends "service/list_view.html" %}
{% load w_autoservice %}

{% block catalog_heading %}
    <h2 class="main-heading2">
        Шиномонтажи
    </h2>
    <!-- Main Heading Ends -->
    <div class="row cat-intro">

        <div class="col-sm-12 cat-body">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
            </p>

            <p>
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
{% endblock %}

{% block catalog_map %}
    <!-- урл для подгрузки сервисов -->
    <div ng-init="init('/tireservice/')"></div>

    <section class="map map_main col-md-12">
        <div class="map__wrap" ng-init="center=[53.889592, 27.562298];zoom=16">
            <yandex-map center="center" zoom='11' class="map__container">
                <ymap-marker ng-repeat="service in services"
                             index="$index+1"
                             coordinates="[service.longitude ,service.latitude]"
                             properties="{balloonContent: '<strong style='+'color:red'+'>'+service.name+'</strong><br>'+service.teaser+'<br>'+service.address}"
                             options="{
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/map/as-ico.png',
                        iconImageSize: [30, 48],
                        iconImageOffset: [-20, -20],

                        iconShape: {
                            type: 'Circle',
                            coordinates: [0, 0],
                            radius: 20
                        },
                     }">

                </ymap-marker>
            </yandex-map>
        </div>
    </section>
{% endblock %}

{% block catalog_filter %}
    <h3 class="side-heading">Фильтр</h3>

    {% show_tireservice_filter %}
{% endblock %}