<div class="list-group">
    {% for key, val in res.items %}
        <div class="list-group-item">
                {{ key }}
            </div>
        {% for item in val %}
        <div class="list-group-item">
                <div class="filter-group">

                    <label class="checkbox">
                        <input type="checkbox" checklist-model="filter.{{ item.work_field_name }}" checklist-value="{{ item.id }}">
                        {{ item }}
                    </label>

                </div>
            </div>
                        {% endfor %}
    {% endfor %}
{{ nj.name }}


{% verbatim %}
!!!!{{ filter | json }}
{% endverbatim %}
        </div>