{% extends "layout.html" %}
{% load w_news %}
{% load w_news %}
{% block page %}
    <!-- Main Container Starts -->
    <div id="main-container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                {% block breadcrumbs %}
                    {% load sitetree %}
                    {% sitetree_breadcrumbs from "main" %}
                {% endblock %}
                <!-- Breadcrumb Ends -->
                {% block content %}

                {% endblock %}
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <div class="wrap--padright">
                    {% show_categories %}
                </div>
                <div class="wrap--padright">
                   {% show_archive_news start=10 %}
                </div>
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->
{% endblock %}

