{% extends "layout.html" %}
{% block page %}
    <!-- Main Container Starts -->
    <div id="main-container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
                <!-- Breadcrumb Ends -->
                {% block content %}

                {% endblock %}
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                <h3 class="side-heading">Categories</h3>

                <div class="list-group">
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Spices &amp; Herbs
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Chili Powder
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Herb Blends
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Seasonings
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Salt Free Spices
                    </a>
                </div>
                <!-- Categories Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->
{% endblock %}

<p>Представители Chevrolet заявили, что в январе следующего года в Детройте будет представлен новый гибрид Volt. Автомобиль станет более экономичным, и большую часть времени будет способен передвигаться на электроэнергии.</p>
<p>В обновленном Chevrolet Volt основные изменения коснутся внешнего и внутреннего дизайна. Также инженеры компании увеличат мощность автомобиля и емкость батареи, которая станет меньше в размерах и легче по массе. Батарея разрабатывается в сотрудничестве с корейской компанией LG Chem. Цену на машину планируют снизить, чтобы повысить конкурентоспособность. </p>
<p>Модель Chevrolet Volt впервые появилась на рынке в 2009 году, когда концерн General Motors переживал не самые лучшие времена – компания восстанавливалась после кризиса. Гибрид мог преодолеть 55 км пути, используя только накопленную электроэнергию (новинка улучшит этот результат на 15 км), а до 100 км/ч разгонялась менее чем за 10 с. </p>
<p>Главными недостатками Chevrolet Volt предыдущего поколения стала высокая цена (около 40 тыс. долларов) и необычная конструкция, которая предполагала Т-образную батарею. В результате спинку заднего сиденья пришлось разделить, и количество пассажиров сократилось до 4 человек. Батарея обновленного Chevrolet Volt не будет выдаваться в салон, поэтому автомобиль станет пятиместным. </p>
<p>Под капотом Volt предыдущего поколения стоял 4-хцилиндровый бензиновый двигатель, теперь же его сменит 3-хцилиндровый агрегат объемом 1 л. Мотор такого же типа устанавливается на Opel Adam. Возможно, инженеры Chevrolet оснастят двигатель турбиной.</p>