{% extends "layout.html" %}
{% load w_news %}
{% load sitetree %}

{% block meta %}
    <meta name="description" content="{% sitetree_page_description from 'for_news' %}">
{% endblock %}

{% block title %}
    <title>{% sitetree_page_title from "for_news" %}</title>
{% endblock %}

{% block page %}
    <!-- Main Container Starts -->
    <div id="main-container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                {% block breadcrumbs %}

                    {% sitetree_breadcrumbs from "for_news" %}
                {% endblock %}
                <!-- Breadcrumb Ends -->
                {% block content %}

                {% endblock %}
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
               {% show_categories %}
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->
{% endblock %}

