{% extends "news/layout.html" %}
{% load w_news %}
{% block meta %}
    <meta name="description" content="{{ post.description }}">
{% endblock %}

{% block title %}
    <title>{{ post.title }}</title>
    <script data-cfasync="false">
        (function (a, b, c, d, e) {
            var f = a + "Q";
            b[a] = b[a] || {};
            b[a][d] = b[a][d] || function () {
                (b[f] = b[f] || []).push(arguments)
            };
            a = c.getElementsByTagName(e)[0];
            c = c.createElement(e);
            c.async = 1;
            c.src = "//static.reembed.com/data/scripts/g_6095_1366326963c993619affd88ab1856b66.js";
            a.parentNode.insertBefore(c, a)
        })("reEmbed", window, document, "setupPlaylist", "script");
    </script>
{% endblock %}

{% block breadcrumbs %}
    {% load sitetree %}
    {% sitetree_breadcrumbs from "for_post" %}
{% endblock %}

{% block content %}
    <!-- About Content Starts -->
    <div class="post">
        <div class="row">
            <div class="col-sm-12">
                <div class="post__img-wrap">
                    <img class="post__img img-responsive" src="{{ post.preview_img.url }}" alt="{{ post.title }}">
                    <a href="{{ post.category.get_absolute_url }}" class="post__category">{{ post.category }}</a>
                    <span class="post__pub-date">{{ post.pub_date }} </span>
                </div>
                <h3 class="post__title">{{ post.name }}</h3>
                {{ post.text|safe }}
                <div>{{ post.video|safe }}</div>
            </div>

        </div>

    </div>
    <!-- About Content Ends -->
    <hr/>
    <div class="wrap">
        <!-- Комментарии -->
    </div>



{% endblock %}

