<section class="latest-posts">
    <h2 class="product-head">Последние новости</h2>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 no-padding">
                {% for post in posts %}
                    {% if forloop.counter == 4 or forloop.counter == 5 or forloop.counter == 6 %}
                        <article class="post-preview post-preview--1x1">
                            <a class="post-preview__link" href="{{ post.get_absolute_url }}">
                                <h2 class="post-preview__title">{{ post.title }}</h2>
                                <i class="post-preview__hover-bg" ></i>
                            </a>
                            <a href="{{ post.category.get_absolute_url }}" class="post-preview__category">{{ post.category }}</a>
                            <a href="{{ post.get_absolute_url }}#disqus_thread" class="post-preview__comments">0 <i class="fa fa-comments-o"></i></a>
                            <i class="post-preview__bg" style="background-image: url('{{ post.preview_img.url }}')"></i>
                        </article>

                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-6 no-padding">
                {% for post in posts %}
                    {% if forloop.counter == 2 or forloop.counter == 3 %}
                        <article class="post-preview post-preview--1x2">
                            <a class="post-preview__link" href="{{ post.get_absolute_url }}">
                                <h2 class="post-preview__title">{{ post.title }}</h2>
                                <i class="post-preview__hover-bg" ></i>
                            </a>
                            <a href="{{ post.category.get_absolute_url }}" class="post-preview__category">{{ post.category }}</a>
                            <a href="{{ post.get_absolute_url }}#disqus_thread" class="post-preview__comments">0 <i class="fa fa-comments-o"></i></a>
                            <i class="post-preview__bg" style="background-image: url('{{ post.preview_img.url }}')"></i>
                        </article>
                    {% endif %}
                    {% if forloop.counter == 1 %}
                        <article class="post-preview post-preview--2x2">
                            <a class="post-preview__link" href="{{ post.get_absolute_url }}">
                                <h2 class="post-preview__title post-preview__title--big">{{ post.title }}</h2>
                                <i class="post-preview__hover-bg" ></i>
                            </a>
                            <a href="{{ post.category.get_absolute_url }}" class="post-preview__category">{{ post.category }}</a>
                            <a href="{{ post.get_absolute_url }}#disqus_thread" class="meta__comments">0 <i class="fa fa-comments-o"></i></a>
                            <i class="post-preview__bg" style="background-image: url('{{ post.preview_img.url }}')"></i>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-3 no-padding">
                {% for post in posts %}
                    {% if forloop.counter == 7 or forloop.counter == 8 or forloop.counter == 9 %}
                        <article class="post-preview post-preview--1x1">
                           <a class="post-preview__link" href="{{ post.get_absolute_url }}">
                               <h2 class="post-preview__title">{{ post.title }}</h2>
                               <i class="post-preview__hover-bg" ></i>
                            </a>
                            <a href="{{ post.category.get_absolute_url }}" class="post-preview__category">{{ post.category }}</a>
                            <a href="{{ post.get_absolute_url }}#disqus_thread" class="post-preview__comments">0 <i class="fa fa-comments-o"></i></a>
                            <i class="post-preview__bg" style="background-image: url('{{ post.preview_img.url }}')"></i>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</section>
