<div class="w-archive">
    {% for post in posts %}
        <div class="w-archive__item">
        <h4 class="w-archive__title"><a class="w-archive__link" href="{{ post.get_absolute_url }}">{{ post.name }}</a></h4>
        <a class="w-archive__link" href="{{ post.get_absolute_url }}"><img class="img-responsive" src="{{ post.preview_img.url }}" alt=""/></a>
        <div class="w-archive__preview">{{ post.preview | truncatewords:15 }} <a class="w-archive__readmore" href="{{ post.get_absolute_url }}">подробнее <i class="fa fa-angle-double-right"></i></a></div>
        </div>

{% endfor %}
</div>
