/*Переменные настройки*/
* {
  box-sizing: border-box;
  inline-box-align: align-content;
}
/*Стилизация placeholder*/
input::-webkit-input-placeholder {
  color: #fff !important;
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease;
}
input::-moz-placeholder {
  color: #fff !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-moz-placeholder {
  color: #fff !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder {
  color: #fff !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
/*сброс стилей для списков*/
.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*Скрытие текста*/
.g-hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*иконки*/
.g-icon {
  display: block;
  background: url("../img/bg/sprite.png") no-repeat;
}
/*Футер к низу страницы*/
.b-html,
.b-body {
  height: 100%;
}
.wrapper {

  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 40px auto -80px;
  padding: 20px;
  background-color: #fff;
}
.container {
  min-width: 1400px;
}
.footer-push {
  height: 80px;
}
.footer {
  height: 80px;
}
/*иконки iconmoon*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?91oczr");
  src: url("../fonts/icomoon.eot?#iefix91oczr") format('embedded-opentype'), url("../fonts/icomoon.woff?91oczr") format('woff'), url("../fonts/icomoon.ttf?91oczr") format('truetype'), url("../fonts/icomoon.svg?91oczr#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-city:before {
  content: "\e600";
}
.icon-life1:before {
  content: "\e601";
}
.icon-mts:before {
  content: "\e602";
  color: #ef4135;
}
.icon-vel .path1:before {
  content: "\e603";
  color: #fff635;
}
.icon-vel .path2:before {
  content: "\e604";
  margin-left: -1em;
  color: #fff200;
}
.icon-vel .path3:before {
  content: "\e605";
  margin-left: -1em;
  color: #f2dd00;
}
