{% extends "layout.html" %}
{% load staticfiles %}
{% load w_news %}
{% load w_autoservice %}
{% block page %}

    <!-- Slider Section Starts -->
    <div class="slider">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper For Slides Starts -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'img/slider-imgs/slide5-img.jpg' %}" alt="Slider" class="img-responsive"/>
                </div>
                <div class="item">
                    <img src="{% static 'img/slider-imgs/slide6-img.jpg' %}" alt="Slider" class="img-responsive"/>
                </div>
                <div class="item">
                    <img src="{% static 'img/slider-imgs/slide7-img.jpg' %}" alt="Slider" class="img-responsive"/>
                </div>
                <div class="item">
                    <img src="{% static 'img/slider-imgs/slide8-img.jpg' %}" alt="Slider" class="img-responsive"/>
                </div>
                <div class="item">
                    <img src="{% static 'img/slider-imgs/slide9-img.jpg' %}" alt="Slider" class="img-responsive"/>
                </div>
                <div class="item">
                    <img src="{% static 'img/slider-imgs/slide10-img.jpg' %}" alt="Slider" class="img-responsive"/>
                </div>
                <div class="item">
                    <img src="{% static 'img/slider-imgs/slide11-img.jpg' %}" alt="Slider" class="img-responsive"/>
                </div>
            </div>
            <!-- Wrapper For Slides Ends -->
            <!-- Controls Starts -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- Controls Ends -->
        </div>
    </div>
    <!-- Slider Section Ends -->
    {% show_latest_news %}
    <section ng-app="ymapsApp" class="map map_main" ng-controller="mainmapCtrl">
        <h2 class="product-head">Все сервисы для вашего автомобиля на карте минска</h2>

        <div class="map__wrap" ng-init="center=[53.889592, 27.562298];zoom=11">
            <yandex-map center="center" zoom="zoom" class="map__container">
                <ymap-marker ng-repeat="service in services"
                                                 index="$index+1"
                                                 coordinates="[service.longitude ,service.latitude]"
                                                 properties="{balloonContent: '<strong style='+'color:red'+'>'+service.name+'</strong><br>'+service.teaser+'<br>'+service.address}"
                                                 options="{
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/map/as-ico.png',
                        iconImageSize: [30, 48],
                        iconImageOffset: [-20, -20],

                        iconShape: {
                            type: 'Circle',
                            coordinates: [0, 0],
                            radius: 20
                        },
                     }">

                                    </ymap-marker>
            </yandex-map>
        </div>

    </section>
    <!-- Featured Products Starts -->
    <section class="products-list">
        <!-- Products Row Starts -->
        <div class="row">
            <!-- Product #1 Starts -->
            <div class="col-md-4 col-sm-6">
                <!-- Heading Starts -->
                <h2 class="product-head">Автосервисы</h2>

                {% show_top_autoservice %}
            </div>
            <!-- Product #1 Ends -->
            <!-- Product #2 Starts -->
            <div class="col-md-4 col-sm-6">
                <!-- Heading Starts -->
                <h2 class="product-head">Автомойки</h2>
                <!-- Heading Ends -->
                <div class="product-col">
                    <div class="image">
                        <img src="{% static 'img/slider-imgs/slide1-img.jpg' %}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <h4><a href="/">Автосервис</a></h4>

                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="address">
                            ул.Красная д.5 кв.26
                        </div>
                        <div class="cart-button button-group">

                            <a href="/" class="btn btn-cart">
                                Подробнее
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-col">
                    <div class="image">
                        <img src="{% static 'img/slider-imgs/slide1-img.jpg' %}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <h4><a href="/">Автосервис</a></h4>

                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="address">
                            ул.Красная д.5 кв.26
                        </div>
                        <div class="cart-button button-group">

                            <a href="/" class="btn btn-cart">
                                Подробнее
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-col">
                    <div class="image">
                        <img src="{% static 'img/slider-imgs/slide1-img.jpg' %}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <h4><a href="/">Автосервис</a></h4>

                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="address">
                            ул.Красная д.5 кв.26
                        </div>
                        <div class="cart-button button-group">

                            <a href="/" class="btn btn-cart">
                                Подробнее
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Product #2 Ends -->
            <!-- Product #3 Starts -->
            <div class="col-md-4 col-sm-6">
                <!-- Heading Starts -->
                <h2 class="product-head">Шиномонтажи</h2>
                <!-- Heading Ends -->
                <div class="product-col">
                    <div class="image">
                        <img src="{% static 'img/slider-imgs/slide1-img.jpg' %}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <h4><a href="/">Автосервис</a></h4>

                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="address">
                            ул.Красная д.5 кв.26
                        </div>
                        <div class="cart-button button-group">

                            <a href="/" class="btn btn-cart">
                                Подробнее
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-col">
                    <div class="image">
                        <img src="{% static 'img/slider-imgs/slide1-img.jpg' %}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <h4><a href="/">Автосервис</a></h4>

                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="address">
                            ул.Красная д.5 кв.26
                        </div>
                        <div class="cart-button button-group">

                            <a href="/" class="btn btn-cart">
                                Подробнее
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-col">
                    <div class="image">
                        <img src="{% static 'img/slider-imgs/slide1-img.jpg' %}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <h4><a href="/">Автосервис</a></h4>

                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="address">
                            ул.Красная д.5 кв.26
                        </div>
                        <div class="cart-button button-group">

                            <a href="/" class="btn btn-cart">
                                Подробнее
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-col">
                    <div class="image">
                        <img src="{% static 'img/slider-imgs/slide1-img.jpg' %}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <h4><a href="/">Автосервис</a></h4>

                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="address">
                            ул.Красная д.5 кв.26
                        </div>
                        <div class="cart-button button-group">

                            <a href="/" class="btn btn-cart">
                                Подробнее
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product #3 Ends -->

        </div>
        <!-- Products Row Ends -->
    </section>
    <!-- Latest Products Ends -->
    <!-- Footer Section Starts -->

    <!-- Footer Section Ends -->
{% endblock %}

<a class="nf-modal-link button button1 center fill" href="#ninja-forms-modal-2" rel="nf-modal:open"
   style="color: rgb(0, 0, 0); border: 2px solid rgb(255, 215, 34); background-color: transparent;">
<span class="hover-bg reset" style="background-color:#ffd722;">
		        <span class="hover-text reset" style="color: #ffffff;">Purchase Now</span>
	        </span>
</a>

<a  class="nf-modal-link button button1 center fill" href="#ninja-forms-modal-2" rel="nf-modal:open" style="color: rgb(0, 0, 0); border: 2px solid rgb(255, 215, 34); background-color: transparent;">
            <span class="hover-bg reset" style="background-color:#ffd722;">
		        <span class="hover-text reset" style="background-color:#ffd722;" >
                   Purchase Now
                </span>
	        </span>
            Purchase Now
        </a>


