{% load staticfiles %}
{% load sitetree %}
{% load hosts %}
<!doctype html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<![endif]-->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% block ajaxmeta %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name='yandex-verification' content='5fa3e420478ba010' />
    <meta name="google-site-verification" content="r4ZRkzbAlmI6GgBccLQATOSrtHKT1zPrnVKL2u01Mss" />
    {% block ajax_meta %}
    {% endblock %}

    {% block meta %}
        <meta name="description" content="{% sitetree_page_description from 'main' %}">
    {% endblock %}

    {% block title %}
        <title>{% sitetree_page_title from "main" %}</title>
    {% endblock %}



    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700"
          rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- CSS Files -->
    <!-- build:css /static/css/compress.css -->
    <link href="/static/css/bootstrap-template/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-template/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap-template/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/blocks.css">
    <!-- endbuild -->
    <!--[if lt IE 9]>
		<script src="js/ie8-responsive-file-warning.js"></script>
	<![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
{% block body %}
<body class="with-bg" ng-app="ondriveApp">
<div id="wrapper" class="container">
    {% block header %}
    <header id="header-area" class="wrap">
        <!-- Nested Row Starts -->
        <div class="row">
            <!-- Logo Starts -->
            <div class="col-md-3 col-xs-12">
                <div id="logo">
                    <a href="{% host_url 'index' host 'default' %}"><img src="{% static 'img/logo.png' %}" title="Grocery Shoppe" alt="Grocery Shoppe"
                                     class="img-responsive"/></a>
                </div>
            </div>
            <!-- Logo Ends -->
            <!-- Header Right Starts -->
            <div class="col-md-7 col-xs-12">
                <div class="row header-top">
                    <!-- Header Links Starts -->

                    <div class="header-links">
                        <ul class="list-unstyled list-inline pull-left">
                            <li><a href="{% host_url 'index' host 'default' %}">Главная</a></li>
                            <li><a href="{% host_url 'page_view' page_alias='o-proekte' host 'default' %}">О проекте</a></li>
                            <!--li><a href="#">Правила портала</a></li-->
                            <li><a href="{% host_url 'contacts:cooperate' host 'default' %}">Сотрудничество</a></li>
                            <li><a href="{% host_url 'contacts:contacts' host 'default' %}">Контакты</a></li>

                            <!--li><a href="#">Мой блог</a></li-->

                            <!--li><a href="cart.html"></a></li-->
                            {% if  not user.is_authenticated %}
                                <!--li><a href="#">Мой профиль</a></li-->
                                <li><a href="{% host_url 'myauth:user_register' host 'default' %}">Регистрация</a></li>
                            {% else %}  
                                <li><a href="{% host_url 'myauth:user_login' host 'default' %}">Ваш профиль</a></li>
                                {% if user.autoservice_set.all or  user.carwash_set.all or user.tireservice_set.all %}
                                    <li><a href="{% host_url 'myauth:userprofile_service' host 'default' %}">Ваши сервисы</a></li>
                                {% endif %}
                            {% endif %}

                            <!--li><a href="login.html">Книга жалоб и предложений</a></li-->
                        </ul>
                    </div>

                    <!-- Header Links Ends -->
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <h2 class="site-title" >Портал автолюбителей беларуси</h2>
                    </div>
                </div>
            </div>
            <!-- Header Right Ends -->
            <div class="col-md-2 col-xs-12">
                {% if user.is_authenticated %}
                    <span>Вы вошли как: {{ user.username }} <a href="{% host_url 'myauth:user_logout' host 'default' %}">Выйти</a></span>
                {% else %}
                    <a class="btn btn-danger popup fancybox" href="#login-form">Войти</a>
                {% endif %}

            </div>
        </div>
        <!-- Nested Row Ends -->
    </header>
    <!-- Header Section Ends -->
    <!-- Main Menu Starts -->
    <nav id="main-menu" class="navbar" role="navigation">
        <!-- Nav Header Starts -->
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-cat-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Nav Header Ends -->
        <!-- Navbar Cat collapse Starts -->
        <div class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-hover="dropdown"
                          data-delay="10">
                        Сервисы
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a tabindex="-1" href="{% host_url 'autoservice_list' host 'autoservices' %}">Автосервисы</a></li>
                        <li><a tabindex="-1" href="{% host_url 'carwash_list' host 'carwashes' %}">Автомойки</a></li>
                        <li><a tabindex="-1" href="{% host_url 'tireservice_list' host 'tireservices' %}">Шиномонтажи</a></li>
                    </ul>
                </li>
                <li><a href="{% host_url 'news:post_list' host 'default' %}">Новости</a></li>
                <!--li><a href="#">Машины</a></li-->
                <!--li><a href="#">Обзоры</a></li-->
                <li><a href="{% host_url 'tuning:tuning_post_list' host 'default' %}">Тюнинг</a></li>
                <!--li><a href="/blogs">Блоги</a></li-->
                <!--li><a href="/cars">Машины</a></li-->
            </ul>
        </div>
        <!-- Navbar Cat collapse Ends -->
    </nav>
{% endblock %}
    <!-- Main Menu Ends -->
    {% block page %}
    {% endblock %}
</div>
{% block footer %}
<div class="copyright container">
    <div class="clearfix">
        <!-- Starts -->
        <p class="pull-left">
            <a href="{% host_url 'index' host 'default' %}">ondrive.by</a> &copy;Все права защищены 2015
        </p>
        <!-- Ends -->

    </div>
</div>
{% endblock %}
{% include "login_form.html" %}
<!-- Copyright Area Ends -->


<!-- JavaScript Files -->
<!-- build:js ./dist/vendor.js -->
<script src="/static/js/vendor/jquery-1.11.1.min.js"></script>
<script src="/static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/app/vendor/angular.js"></script>
<script src="/static/js/app/vendor/angular-pagination.js"></script>
<script src="/static/js/app/vendor/angular-resource.js"></script>
<script src="/static/js/app/vendor/angular-cookies.js"></script>
<script src="/static/js/app/vendor/angular-route.js"></script>
<script src="/static/js/app/vendor/angular-ymaps.js"></script>
<script src="/static/js/app/vendor/ngMask.min.js"></script>
<script src="/static/js/app/app.js"></script>
<script src="/static/js/app/directives/checklist-model.js"></script>
<script src="/static/js/app/directives/compareValue.js"></script>
<script src="/static/js/app/directives/paginationDirective.js"></script>
<script src="/static/js/app/services/getJsonService.js"></script>
<script src="/static/js/app/controllers/autoserviceCtrl.js"></script>
<script src="/static/js/app/controllers/serviceCtrl.js"></script>
<script src="/static/js/app/controllers/contactsCtrl.js"></script>
<script src="/static/js/app/controllers/loginCtrl.js"></script>
<script src="/static/js/app/controllers/requestCtrl.js"></script>
<script src="/static/js/app/controllers/registrationCtrl.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/bootstrap-hover-dropdown.min.js"></script>
<script src="/static/js/vendor/bootstrap.file-input.js"></script>
<script src="/static/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/static/js/vendor/masonry.js"></script>
<script src="/static/js/vendor/custom.js"></script>
<script src="/static/js/vendor/jquery.fancybox.js"></script>
<script src="/static/js//vendor/django-uploader.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- endbuild -->
{% block add_script %}
{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter30408477 = new Ya.Metrika({id:30408477,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/30408477" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68013210-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
{% endblock %}
</html>


