{% extends "layout.html" %}
{% load w_videos %}
{% load w_news %}
{% block page %}
    <script data-cfasync="false">
        (function (a, b, c, d, e) {
            var f = a + "Q";
            b[a] = b[a] || {};
            b[a][d] = b[a][d] || function () {
                (b[f] = b[f] || []).push(arguments)
            };
            a = c.getElementsByTagName(e)[0];
            c = c.createElement(e);
            c.async = 1;
            c.src = "//static.reembed.com/data/scripts/g_6095_1366326963c993619affd88ab1856b66.js";
            a.parentNode.insertBefore(c, a)
        })("reEmbed", window, document, "setupPlaylist", "script");
    </script>
    <!-- Main Container Starts -->
    <div id="main-container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                {% block breadcrumbs %}
                    {% load sitetree %}
                    {% sitetree_breadcrumbs from "main" %}
                {% endblock %}
                <!-- Breadcrumb Ends -->
                {% block content %}

                {% endblock %}
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <div class="wrap--padright">
                    <h3 class="side-heading">Видео</h3>
                    {% show_videos %}
                    {% show_archive_news %}
                </div>
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->
{% endblock %}

<div data-index="[+rowNumber.zeroBased+]"
     style="background-image: url([[phpthumb? &input=`[+col0+]` &options=`w=603,h=372,zc=1`]])"
     class="maze__blk main-slider__slide js-slider__slide">
    <div class="maze__text maze__text--med f-right">
        <h3 class="maze__title maze__title--big">[+col1+]</h3>

        <div class="maze__desc maze__desc--big">
            [+col2+]
        </div>
        <a href="[+col3+]" class="maze__btn maze__btn--usual">Заказать</a>
    </div>
</div>

<a href="[+col3+]" data-index="[+rowNumber.zeroBased+]"
     style="background-image: url([[phpthumb? &input=`[+col0+]` &options=`w=603,h=372,zc=1`]])"
     class="maze__blk main-slider__slide js-slider__slide">
    <div class="maze__text maze__text--med f-right">
        <h3 class="maze__title maze__title--big">[+col1+]</h3>

        <div class="maze__desc maze__desc--big">
            [+col2+]
        </div>
        <span href="[+col3+]" class="maze__btn maze__btn--usual">Заказать</span>
    </div>
</a>

<a href="[+col3+]" style="background-image: url([[phpthumb? &input=`[+col0+]` &options=`w=305,h=169,zc=1`]])" class="maze__blk maze__blk--hh maze__blk--hw maze__blk--sp f-left">
                    <div class="maze__text maze__text--small f-left">
                      <h3 class="maze__title">[+col1+]</h3>
                      <div class="maze__desc">
                        [+col2+]
                      </div><span  class="maze__btn maze__btn--small maze__btn--usual">Заказать</span>
                    </div>
                  </a>

<a href="[+col3+]" style="background-image: url([[phpthumb? &input=`[+col0+]` &options=`w=305,h=169,zc=1`]])" class="maze__blk maze__blk--hh maze__blk--hw maze__blk--sp f-left">
                    <div class="maze__text maze__text--small f-right t-right">
                      <h3 class="maze__title">[+col1+]</h3>
                      <div class="maze__desc">[+col2+]</div>
						<span class="maze__btn maze__btn--small maze__btn--usual">Заказать</span>
                    </div>
                  </a>

<a href="[+col3+]" style="background-image: url([[phpthumb? &input=`[+col0+]` &options=`w=606,h=201,zc=1`]])" class="maze__blk maze__blk--hh maze__blk--sp">
                  <div class="maze__text maze__text--big f-left">
                    <h3 class="maze__title">[+col1+]</h3>
                    <div class="maze__desc">
                      [+col2+]
                    </div><span class="maze__btn maze__btn--small maze__btn--usual">Заказать</span>
                  </div>
                </a>