{% extends "news/layout.html" %}
{% load w_news %}
{% block meta %}
    <meta name="description" content="{{ post.description }}">
{% endblock %}

{% block title %}
    <title>{{ post.title }}</title>

{% endblock %}

{% block breadcrumbs %}
    {% load sitetree %}
    {% sitetree_breadcrumbs from "for_post" %}
{% endblock %}

{% block content %}
    <!-- About Content Starts -->
    <div class="post">
        <div class="row">
            <div class="col-sm-12">
                <div class="post__img-wrap">
                    <img class="post__img img-responsive" src="{{ post.preview_img.url }}" alt="{{ post.title }}">
                    {% if post.video %}
                    <a href="{{ post.get_absolute_url }}#video" class="post__category">Видео</a>
                    {% endif %}
                    <span class="post__pub-date">{{ post.pub_date }} </span>
                </div>
                <h3 class="post__title">{{ post.name }}</h3>
                {{ post.text|safe }}
                <div id="video" class="post__video">{{ post.video|safe }}</div>
            </div>

        </div>

    </div>
    <!-- About Content Ends -->
    <hr/>
    <div class="wrap">
         <!-- Комментарии -->
    </div>



{% endblock %}

